<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="MySql" connectionString="Server=db;Port=3306;Database=appdb;Uid=app;Pwd=apppass;SslMode=None;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="Dapper" />
        <add assembly="MySql.Data" />
        <add assembly="System.Runtime" />
        <add assembly="System.Data" />
        <add assembly="System.Configuration" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="ja-JP" uiCulture="ja-JP"/>
  </system.web>
</configuration>
